version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.1

jobs:
  build:
    docker:
      - image: circleci/node:12

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: npm install
      - run: node -v
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
  teste:
    steps:
      - run: npm test
  sonar:
    steps:
      - sonarcloud/scan

workflows:
    build:
      jobs:
        - build:
            filters:
              branches:
                only:
                  - circle-ci
        - teste:
            filters:
              branches:
                only:
                  - circle-ci
        - sonar:
            filters:
              branches:
                only:
                  - circle-ci


