version: 2.1
orbs:
  node: circleci/node@4.0.0
  sonarcloud: sonarsource/sonarcloud@1.0.2
jobs:
  build:
    docker:
      - image: circleci/node@4.0.0
    steps:
    - checkout
    - sonarcloud/scan
workflows:
  node-tests:
    jobs:
      - node/test:
          filters:
            branches:
              only:
                - master
      - build:
          context: sonarcloud
