version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.1

jobs:
  build:
    docker:
      - image: circleci/node:12

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: npm install
      - run: node -v
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: npm test
       
      - sonarcloud/scan

      - add_ssh_keys:
          fingerprints:
            - "UKs0GF/qdI7FRRpdP6+vEaepVPJbfrcMIDlsaOkfAZI"
      
      - run:
          name: Deploy to umbler
          command: git remote add umbler ssh://git@geonosis.deploy.umbler.com:9922/jy488y0j/lockhere-com-br.git && git push umbler master
            
workflows:
    build:
      jobs:
        - build:
            filters:
              branches:
                only:
                  - circle-ci