version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.1

jobs:
  build:
    docker:
      - image: circleci/node:12

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: npm install
      - run: node -v
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: npm test
       
      - sonarcloud/scan

      - run:
          name: Deploy circle-ci to Umbler Master
          command: git push https://geonosis.deploy.umbler.com/jy488y0j/lockhere-com-br.git
  # deploy-prod:
  #   requires:
  #     - build
  #   filters:
  #     branches:
  #       only: master
  #   steps:
  #     - run:
  #       name: Deploy circle-ci to Umbler Master
  #       command: |
  #         git push https://geonosis.deploy.umbler.com/jy488y0j/lockhere-com-br.git

