version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.1

jobs:
  build:
    docker:
      - image: circleci/node:12

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      #- run: npm install
      - run: node -v
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      #- run: npm test
       
      #- sonarcloud/scan

      - run:
          name: Avoid hosts unknown
          command: echo -e "Host geonosis.deploy.umbler.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config

      - add_ssh_keys:
          fingerprints:
            - "4a:0d:9a:08:1a:57:1c:96:5c:31:43:66:c8:f4:d6:19"

      - run:
          name: Deploy to umbler
          command: ls -la && git config --global user.email "mateusspadacio@gmail.com" && git config --global user.name "Mateus Spadacio" && git remote add umbler ssh://git@geonosis.deploy.umbler.com:9922/jy488y0j/lockhere-com-br.git && git push umbler master
            
workflows:
    build:
      jobs:
        - build:
            filters:
              branches:
                only:
                  - master